@font-face {
  font-family: GeneralSans;
  font-display: swap;
  src: url(../fonts/GeneralSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: GeneralSans;
  font-display: swap;
  src: url(../fonts/GeneralSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: GeneralSans;
  font-display: swap;
  src: url(../fonts/GeneralSans-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: GeneralSans;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: GeneralSans;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body::-webkit-scrollbar {
  width: 0
}
.loaded body {
  overflow: auto
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 95rem;
  margin: 0 auto
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 0 1fr minmax(auto,95rem) 1fr 0
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 135.714286%;
  text-transform: uppercase;
  color: #fff;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s,-webkit-filter .3s;
  background-color: #000
}
.button--fw {
  width: 100%
}
.button--footer {
  color: #000;
  background-color: #fff
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: .6875rem .9375rem;
  caret-color: inherit;
  background-color: #fff
}
.input::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #000
}
.input:-ms-input-placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #000
}
.input::-ms-input-placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #000
}
.input::placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #000
}
.input._form-error {
  border: .0625rem solid red
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.link-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  padding: .5rem .75rem;
  font-weight: 400;
  font-size: .75rem;
  line-height: 133.333333%;
  text-transform: uppercase;
  border: .0625rem solid #000;
  -webkit-transform: scale(1.005);
  transform: scale(1.005);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.link-button {
  display: inline-flex;
  align-items: center;
  gap: .5rem
}
.link-button__link-text {
  font-weight: 600;
  line-height: 137.5%;
  text-transform: uppercase
}
.link-button__button-icon {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.header__container {
  min-height: 1.875rem;
  position: relative
}
.header__container::before {
  content: "";
  position: absolute;
  width: 0;
  height: .0625rem;
  top: 100%;
  left: 0;
  background-color: #000;
  pointer-events: none;
  transition: width 6.5s;
  transition-delay: .3s
}
.loaded .header__container::before {
  width: 100%
}
.header__logo {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .header__logo {
  -webkit-animation: up .5s ease .8s forwards;
  animation: up .5s ease .8s forwards
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
.footer {
  color: #fff
}
.footer__content-body {
  width: 100%;
  background-color: #000
}
.footer__body {
  cursor: pointer;
  overflow: hidden
}
.footer__items {
  display: flex;
  align-items: center
}
.footer__item {
  font-weight: 600;
  line-height: 136.363636%;
  text-transform: uppercase
}
.footer__header-block {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.footer__title {
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  color: #f9f9f9
}
.footer__form {
  position: relative;
  display: flex;
  gap: .75rem
}
.footer__form.form .form__button {
  flex-shrink: 0
}
.footer__form.form .form__error {
  top: 100%;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: .625rem
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem
}
.footer__made-by {
  font-weight: 400;
  font-size: .875rem;
  line-height: 160%
}
.footer__bottom-social {
  display: flex;
  align-items: center;
  gap: .75rem
}
.navigation-footer__list-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center
}
.navigation-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .75rem
}
.navigation-footer__item-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%
}
.social-footer__item svg {
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem
}
.social-footer__item svg path {
  transition: fill .3s
}
.page__magazine {
  position: relative;
  z-index: 5
}
.main__title svg path {
  fill: transparent;
  stroke: #000;
  stroke-width: 4;
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160
}
.loaded .main__title svg path {
  -webkit-animation: mainTitleAnimation 7s ease-in-out 1 forwards;
  animation: mainTitleAnimation 7s ease-in-out 1 forwards
}
@-webkit-keyframes mainTitleAnimation {
  0% {
    stroke-dashoffset: 1160
  }
  80% {
    stroke-width: 1.5;
    fill: transparent
  }
  100% {
    stroke-width: 1.2;
    stroke-dashoffset: 0;
    fill: #000
  }
}
@keyframes mainTitleAnimation {
  0% {
    stroke-dashoffset: 1160
  }
  80% {
    stroke-width: 1.5;
    fill: transparent
  }
  100% {
    stroke-width: 1.2;
    stroke-dashoffset: 0;
    fill: #000
  }
}
.main__body {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #000;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .main__body {
  -webkit-animation: up .5s ease .8s forwards;
  animation: up .5s ease .8s forwards
}
.main__body-title {
  flex-shrink: 0;
  font-weight: 600;
  line-height: 136.363636%;
  text-transform: uppercase;
  color: #fff
}
.main__hidden {
  overflow: hidden
}
.main__items {
  display: flex;
  align-items: center
}
.main__item {
  flex-shrink: 0;
  font-weight: 400;
  line-height: 135%;
  color: #fff
}
.lead__items {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.lead__items .lead__item {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .lead__items .lead__item:nth-child(1) {
  -webkit-animation: up .5s ease .45s forwards;
  animation: up .5s ease .45s forwards
}
.loaded .lead__items .lead__item:nth-child(2) {
  -webkit-animation: up .5s ease .6s forwards;
  animation: up .5s ease .6s forwards
}
.loaded .lead__items .lead__item:nth-child(3) {
  -webkit-animation: up .5s ease .75s forwards;
  animation: up .5s ease .75s forwards
}
.loaded .lead__items .lead__item:nth-child(4) {
  -webkit-animation: up .5s ease .9s forwards;
  animation: up .5s ease .9s forwards
}
.lead__item--image {
  grid-column: -1/1;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.lead__item--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.lead__item--flex {
  padding-top: .625rem;
  display: flex;
  flex-direction: column
}
.lead__title {
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .lead__title {
  -webkit-animation: up .5s ease .5s forwards;
  animation: up .5s ease .5s forwards
}
.lead__text {
  flex-grow: 1;
  font-weight: 400;
  line-height: 180%;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .lead__text {
  -webkit-animation: up .5s ease .65s forwards;
  animation: up .5s ease .65s forwards
}
.lead__meta {
  display: flex;
  gap: .625rem;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .lead__meta {
  -webkit-animation: up .5s ease .8s forwards;
  animation: up .5s ease .8s forwards
}
.meta-lead__items {
  flex-grow: 1;
  display: flex;
  align-items: center
}
.meta-lead__item {
  display: flex;
  align-items: center;
  gap: .5rem
}
.meta-lead__info {
  font-weight: 400;
  font-size: .875rem;
  line-height: 160%
}
.meta-lead__info--bold {
  font-weight: 600
}
.magazine__body {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 28.092105%;
  align-items: start
}
.magazine__items {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start
}
.magazine__items .magazine__item {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .magazine__items .magazine__item:nth-child(1) {
  -webkit-animation: up .5s ease .45s forwards;
  animation: up .5s ease .45s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(2) {
  -webkit-animation: up .5s ease .6s forwards;
  animation: up .5s ease .6s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(3) {
  -webkit-animation: up .5s ease .75s forwards;
  animation: up .5s ease .75s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(4) {
  -webkit-animation: up .5s ease .9s forwards;
  animation: up .5s ease .9s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(5) {
  -webkit-animation: up .5s ease 1.05s forwards;
  animation: up .5s ease 1.05s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(6) {
  -webkit-animation: up .5s ease 1.2s forwards;
  animation: up .5s ease 1.2s forwards
}
._watcher-view .magazine__items .magazine__item:nth-child(7) {
  -webkit-animation: up .5s ease 1.35s forwards;
  animation: up .5s ease 1.35s forwards
}
.magazine__item:not(:last-child) {
  border-bottom: .0625rem solid #000
}
.item-magazine__body {
  display: flex;
  row-gap: .75rem
}
.item-magazine__image {
  cursor: pointer;
  aspect-ratio: 240/240;
  overflow: hidden
}
.item-magazine__image img {
  width: 100%;
  height: 100%;
  -o-object-position: top left;
  object-position: top left;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  -webkit-transform: scale(1.0005);
  transform: scale(1.0005)
}
.item-magazine__content {
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.item-magazine__title {
  font-weight: 600;
  line-height: 120%
}
.item-magazine__title:not(:last-child) {
  margin-bottom: .75rem
}
.item-magazine__text {
  flex-grow: 1;
  align-self: flex-start;
  font-weight: 400;
  line-height: 180%
}
.item-magazine__meta {
  display: flex;
  align-items: flex-end;
  gap: .625rem
}
.meta-magazine__items {
  flex-grow: 1;
  display: flex;
  align-items: center
}
.meta-magazine__item {
  display: flex;
  align-items: center;
  gap: .5rem
}
.meta-magazine__info {
  font-weight: 400;
  font-size: .875rem;
  line-height: 160%
}
.meta-magazine__info--bold {
  font-weight: 600
}
.print-magazine__header {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .print-magazine__header {
  -webkit-animation: leftAn .5s ease .4s forwards;
  animation: leftAn .5s ease .4s forwards
}
.print-magazine__sub-title {
  font-weight: 600;
  line-height: 137.5%;
  text-transform: uppercase
}
.print-magazine__sub-title:not(:last-child) {
  margin-bottom: .5rem
}
.print-magazine__title {
  font-weight: 600;
  line-height: 120%;
  color: #000
}
.print-magazine__post {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .print-magazine__post {
  -webkit-animation: leftAn .5s ease .6s forwards;
  animation: leftAn .5s ease .6s forwards
}
.print-magazine__popular {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .print-magazine__popular {
  -webkit-animation: leftAn .5s ease .8s forwards;
  animation: leftAn .5s ease .8s forwards
}
.print-magazine__newsletter {
  background-color: #f8f8f8;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .print-magazine__newsletter {
  -webkit-animation: leftAn .5s ease 1s forwards;
  animation: leftAn .5s ease 1s forwards
}
.post-magazine__body {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 369/462;
  overflow: hidden
}
.post-magazine__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  -webkit-transform: scale(1.0005);
  transform: scale(1.0005);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.post-magazine__title-block {
  flex-grow: 1;
  position: relative
}
.post-magazine__title {
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff
}
.post-magazine__label {
  font-weight: 600;
  line-height: 134.782609%;
  text-transform: uppercase;
  color: #fff
}
.post-magazine__body-bottom {
  position: relative;
  display: flex;
  gap: .625rem;
  justify-content: space-between
}
.post-magazine__badge-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3125rem
}
.post-magazine__badge img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.post-magazine__description {
  color: #fff;
  font-weight: 600;
  line-height: 134.782609%;
  text-transform: uppercase
}
.post-magazine__arrow {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  align-self: flex-end
}
.popular-magazine__title {
  font-weight: 600;
  line-height: 137.5%;
  text-transform: uppercase
}
.popular-magazine__items {
  display: grid;
  grid-template-columns: 1fr
}
.popular-magazine__item {
  display: flex;
  align-items: flex-start;
  gap: 1rem
}
.popular-magazine__item:not(:last-child) {
  border-bottom: .0625rem solid #000
}
.popular-magazine__number {
  font-weight: 600;
  line-height: 120%
}
.popular-magazine__body-title {
  font-weight: 600;
  line-height: 120%
}
.popular-magazine__description {
  display: flex;
  align-items: center;
  gap: .5rem
}
.popular-magazine__info {
  font-weight: 400;
  line-height: 160%
}
.popular-magazine__info--bold {
  font-weight: 600
}
.newsletter-magazine__sub-title {
  font-weight: 600;
  line-height: 137.5%;
  text-transform: uppercase
}
.newsletter-magazine__sub-title:not(:last-child) {
  margin-bottom: .5rem
}
.newsletter-magazine__title {
  font-weight: 600;
  line-height: 130%
}
.newsletter-magazine__form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: .75rem
}
.form__button {
  align-self: flex-end
}
.form__error {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  color: red;
  font-weight: 700
}
.podcast__header {
  display: flex;
  align-items: center;
  gap: .625rem;
  justify-content: space-between;
  position: relative
}
.podcast__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: .0625rem;
  pointer-events: none;
  background-color: #000;
  transition: width .8s;
  transition-delay: .4s
}
.podcast__header._watcher-view::before {
  width: 100%
}
.podcast__title {
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .podcast__title {
  -webkit-animation: up .5s ease .2s forwards;
  animation: up .5s ease .2s forwards
}
.podcast__link-button {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .podcast__link-button {
  -webkit-animation: up .5s ease .4s forwards;
  animation: up .5s ease .4s forwards
}
.podcast__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
  margin-top: .0625rem;
  margin-right: -.0625rem
}
.podcast__items .podcast__item {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.podcast__items .podcast__item._watcher-view:nth-child(1) {
  -webkit-animation: up .5s ease .45s forwards;
  animation: up .5s ease .45s forwards
}
.podcast__items .podcast__item._watcher-view:nth-child(2) {
  -webkit-animation: up .5s ease .6s forwards;
  animation: up .5s ease .6s forwards
}
.podcast__items .podcast__item._watcher-view:nth-child(3) {
  -webkit-animation: up .5s ease .75s forwards;
  animation: up .5s ease .75s forwards
}
.podcast__items .podcast__item._watcher-view:nth-child(4) {
  -webkit-animation: up .5s ease .9s forwards;
  animation: up .5s ease .9s forwards
}
.podcast__item {
  margin-bottom: .0625rem;
  position: relative;
  outline: .0625rem solid #000;
  grid-column: span 2
}
.podcast__item:nth-child(n+2) {
  margin-left: .0625rem;
  z-index: 5
}
.item-podcast__body {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 407/407
}
.item-podcast__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  -webkit-transform: scale(1.0005);
  transform: scale(1.0005)
}
.item-podcast__header-block {
  flex-grow: 1;
  position: relative
}
.item-podcast__body-title {
  font-weight: 600;
  line-height: 135.294118%;
  text-transform: uppercase;
  color: #fff
}
.item-podcast__label {
  font-weight: 600;
  line-height: 130.769231%;
  text-transform: uppercase;
  color: #fff
}
.item-podcast__body-bottom {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: .625rem;
  justify-content: space-between
}
.item-podcast__description {
  font-weight: 600;
  line-height: 130.769231%;
  text-transform: uppercase;
  color: #fff
}
.item-podcast__arrow {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-podcast__title {
  font-weight: 600;
  line-height: 120%
}
.item-podcast__meta {
  display: flex;
  align-items: center
}
.meta-podcast__item {
  display: flex;
  align-items: center;
  gap: .5rem
}
.meta-podcast__info {
  font-weight: 400;
  font-size: .875rem;
  line-height: 160%
}
.meta-podcast__info--bold {
  font-weight: 600
}
.authors__header {
  display: flex;
  align-items: center;
  gap: .625rem;
  justify-content: space-between;
  position: relative
}
.authors__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: .0625rem;
  pointer-events: none;
  background-color: #000;
  transition: width .8s;
  transition-delay: .3s
}
._watcher-view .authors__header::before {
  width: 100%
}
.authors__title {
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .authors__title {
  -webkit-animation: up .5s ease .2s forwards;
  animation: up .5s ease .2s forwards
}
.authors__link-button {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
._watcher-view .authors__link-button {
  -webkit-animation: up .5s ease .4s forwards;
  animation: up .5s ease .4s forwards
}
.authors__items {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.authors__items .authors__item {
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.authors__items .authors__item._watcher-view:nth-child(1) {
  -webkit-animation: up .5s ease .45s forwards;
  animation: up .5s ease .45s forwards
}
.authors__items .authors__item._watcher-view:nth-child(2) {
  -webkit-animation: up .5s ease .6s forwards;
  animation: up .5s ease .6s forwards
}
.authors__items .authors__item._watcher-view:nth-child(3) {
  -webkit-animation: up .5s ease .75s forwards;
  animation: up .5s ease .75s forwards
}
.authors__items .authors__item._watcher-view:nth-child(4) {
  -webkit-animation: up .5s ease .9s forwards;
  animation: up .5s ease .9s forwards
}
.authors__items .authors__item._watcher-view:nth-child(5) {
  -webkit-animation: up .5s ease 1.05s forwards;
  animation: up .5s ease 1.05s forwards
}
.authors__items .authors__item._watcher-view:nth-child(6) {
  -webkit-animation: up .5s ease 1.2s forwards;
  animation: up .5s ease 1.2s forwards
}
.authors__items .authors__item._watcher-view:nth-child(7) {
  -webkit-animation: up .5s ease 1.35s forwards;
  animation: up .5s ease 1.35s forwards
}
.authors__item {
  display: flex;
  align-items: center;
  border: .0625rem solid #000;
  margin-right: -.0625rem;
  margin-top: -.0625rem
}
.item-authors__image {
  cursor: pointer;
  width: 21.577%;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 150/150
}
.item-authors__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  -webkit-transform: scale(1.0005);
  transform: scale(1.0005)
}
.item-authors__title {
  font-weight: 600;
  line-height: 120%
}
.item-authors__meta {
  display: flex;
  align-items: center
}
.meta-authors__item {
  display: flex;
  align-items: center;
  gap: .5rem
}
.meta-authors__info {
  font-weight: 400;
  line-height: 160%
}
.meta-authors__info--bold {
  font-weight: 600
}
@keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes leftAn {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes leftAn {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes image-animation {
  25% {
    opacity: 1
  }
  100%,
  85% {
    opacity: 0;
    scale: 3
  }
}
@keyframes image-animation {
  25% {
    opacity: 1
  }
  100%,
  85% {
    opacity: 0;
    scale: 3
  }
}
@media (min-width:29.99875em) {
  .navigation-footer__list-body {
    align-self: flex-end
  }
  .loaded .lead__item--image img {
    -webkit-animation: image-animation linear forwards;
    animation: image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit -170px;
    pointer-events: none
  }
  .magazine__body {
    justify-items: start
  }
  .post-magazine__body {
    max-width: 23.0625rem
  }
}
@media (min-width:29.99875em)and (min-width:95em) {
  .page__lead {
    padding-bottom: 1.5625rem
  }
}
@media (min-width:43.8125em) {
  .item-magazine__image {
    max-width: 21.708%
  }
}
@media (min-width:47.99875em) {
  .lead__meta {
    align-items: center
  }
}
@media (min-width:95em) {
  .button {
    padding-top: .9375rem
  }
  .button {
    padding-bottom: .9375rem
  }
  .button {
    padding-left: 1.5rem
  }
  .button {
    padding-right: 1.5rem
  }
  .header__container {
    padding-top: 1.25rem
  }
  .header__container {
    padding-bottom: 1.25rem
  }
  .header__logo svg {
    width: 13.125rem
  }
  .footer {
    padding-top: 6rem
  }
  .footer__body {
    padding: 1.25rem
  }
  .footer__body:not(:last-child) {
    margin-bottom: 8rem
  }
  .footer__items {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .footer__item {
    font-size: 1.375rem
  }
  .footer__header-block:not(:last-child) {
    margin-bottom: 8rem
  }
  .footer__title {
    font-size: 5rem
  }
  .footer__navigation:not(:last-child) {
    margin-bottom: 6rem
  }
  .navigation-footer__title svg {
    width: 13.0625rem
  }
  .page__main {
    padding-top: 3rem
  }
  .page__main {
    padding-bottom: 2.375rem
  }
  .page__lead {
    padding-top: 2.375rem
  }
  .page__magazine {
    padding-bottom: 6rem
  }
  .page__podcast {
    padding-top: 4.5rem
  }
  .page__podcast {
    padding-bottom: 6rem
  }
  .page__authors {
    padding-top: 6rem
  }
  .page__authors {
    padding-bottom: 6rem
  }
  .main__title svg {
    width: 95rem
  }
  .main__title svg {
    height: 13.5rem
  }
  .main__title:not(:last-child) {
    margin-bottom: 3rem
  }
  .main__body {
    gap: 1.5rem
  }
  .main__body {
    padding-left: 1.25rem
  }
  .main__body {
    padding-top: 1.25rem
  }
  .main__body {
    padding-bottom: 1.25rem
  }
  .main__body-title {
    font-size: 1.375rem
  }
  .main__items {
    gap: 1.5rem
  }
  .main__item {
    font-size: 1.25rem
  }
  .lead__items {
    -webkit-column-gap: 2.6875rem;
    -moz-column-gap: 2.6875rem;
    column-gap: 2.6875rem
  }
  .lead__items {
    row-gap: 3rem
  }
  .lead__title {
    font-size: 6.5rem
  }
  .lead__text {
    font-size: 1.125rem
  }
  .meta-lead__items {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .magazine__body:not(:last-child) {
    margin-bottom: 6rem
  }
  .magazine__items {
    padding-right: 3rem
  }
  .magazine__item:not(:last-child) .item-magazine__body {
    padding-bottom: 3rem
  }
  .magazine__item:not(:first-child) .item-magazine__body {
    padding-top: 3rem
  }
  .magazine__print {
    padding-left: 3rem
  }
  .item-magazine__body {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .item-magazine__title {
    font-size: 2rem
  }
  .item-magazine__text {
    font-size: 1rem
  }
  .meta-magazine__items {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .print-magazine__header:not(:last-child) {
    margin-bottom: 2rem
  }
  .print-magazine__title {
    font-size: 3rem
  }
  .print-magazine__post:not(:last-child) {
    margin-bottom: 4rem
  }
  .print-magazine__popular:not(:last-child) {
    margin-bottom: 4rem
  }
  .print-magazine__newsletter {
    padding: 1.875rem
  }
  .print-magazine__newsletter:not(:last-child) {
    margin-bottom: 4rem
  }
  .post-magazine__body {
    padding: 1.625rem
  }
  .post-magazine__body:not(:last-child) {
    margin-bottom: 1rem
  }
  .post-magazine__title {
    font-size: 6.0625rem
  }
  .post-magazine__label {
    font-size: 1.4375rem
  }
  .post-magazine__badge {
    width: 7.1875rem
  }
  .post-magazine__badge {
    height: 7.1875rem
  }
  .post-magazine__description {
    font-size: 1.4375rem
  }
  .post-magazine__arrow svg {
    width: 2.875rem
  }
  .post-magazine__arrow svg {
    height: 2.875rem
  }
  .popular-magazine__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .popular-magazine__item:not(:last-child) {
    padding-bottom: 1.5rem
  }
  .popular-magazine__item:not(:first-child) {
    padding-top: 1.5rem
  }
  .popular-magazine__number {
    font-size: 1.5rem
  }
  .popular-magazine__body-title {
    font-size: 1.5rem
  }
  .popular-magazine__info {
    font-size: .875rem
  }
  .newsletter-magazine__title {
    font-size: 2rem
  }
  .newsletter-magazine__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .podcast__header {
    padding-top: 3rem
  }
  .podcast__header:not(:last-child) {
    margin-bottom: 6rem
  }
  .podcast__title {
    font-size: 6.5rem
  }
  .podcast__item {
    padding: 3rem
  }
  .item-podcast__body {
    padding: 2.125rem
  }
  .item-podcast__body:not(:last-child) {
    margin-bottom: 2rem
  }
  .item-podcast__body-title {
    font-size: 3.1875rem
  }
  .item-podcast__label {
    font-size: 1.625rem
  }
  .item-podcast__description {
    font-size: 1.625rem
  }
  .item-podcast__arrow svg {
    width: 3.25rem
  }
  .item-podcast__arrow svg {
    height: 3.25rem
  }
  .item-podcast__title {
    font-size: 2rem
  }
  .item-podcast__title:not(:last-child) {
    margin-bottom: 3rem
  }
  .item-podcast__meta {
    gap: 1rem
  }
  .authors__header {
    padding-top: 3rem
  }
  .authors__header:not(:last-child) {
    margin-bottom: 6rem
  }
  .authors__title {
    font-size: 6.5rem
  }
  .authors__item {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .authors__item {
    padding: 2rem
  }
  .item-authors__title {
    font-size: 2rem
  }
  .item-authors__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .item-authors__meta {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .meta-authors__info {
    font-size: .875rem
  }
}
@media (max-width:20em) {
  .button {
    padding-top: .625rem
  }
  .button {
    padding-bottom: .625rem
  }
  .button {
    padding-left: 1.125rem
  }
  .button {
    padding-right: 1.125rem
  }
  .header__container {
    padding-top: .625rem
  }
  .header__container {
    padding-bottom: .625rem
  }
  .header__logo svg {
    width: 9.375rem
  }
  .footer {
    padding-top: .75rem
  }
  .footer__body {
    padding: .625rem
  }
  .footer__body:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .footer__items {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .footer__item {
    font-size: 1rem
  }
  .footer__header-block:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .footer__navigation:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .page__main {
    padding-top: 1.5rem
  }
  .page__main {
    padding-bottom: .75rem
  }
  .page__lead {
    padding-top: .75rem
  }
  .page__magazine {
    padding-bottom: .75rem
  }
  .page__podcast {
    padding-top: .75rem
  }
  .page__podcast {
    padding-bottom: .75rem
  }
  .page__authors {
    padding-top: .75rem
  }
  .page__authors {
    padding-bottom: .75rem
  }
  .main__title svg {
    width: 20rem
  }
  .main__title svg {
    height: 2.875rem
  }
  .main__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .main__body {
    gap: .625rem
  }
  .main__body {
    padding-left: .625rem
  }
  .main__body {
    padding-top: .625rem
  }
  .main__body {
    padding-bottom: .625rem
  }
  .main__body-title {
    font-size: .75rem
  }
  .main__items {
    gap: .625rem
  }
  .main__item {
    font-size: .75rem
  }
  .lead__items {
    row-gap: .625rem
  }
  .lead__text {
    font-size: .875rem
  }
  .meta-lead__items {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .magazine__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .magazine__item:not(:last-child) .item-magazine__body {
    padding-bottom: .75rem
  }
  .magazine__item:not(:first-child) .item-magazine__body {
    padding-top: .75rem
  }
  .print-magazine__header:not(:last-child) {
    margin-bottom: .75rem
  }
  .print-magazine__newsletter {
    padding: .9375rem
  }
  .podcast__header {
    padding-top: 1.25rem
  }
  .podcast__header:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .podcast__item {
    padding: 1.375rem
  }
  .item-podcast__body {
    padding: .75rem
  }
  .item-podcast__body:not(:last-child) {
    margin-bottom: 1rem
  }
  .item-podcast__body-title {
    font-size: 2rem
  }
  .item-podcast__label {
    font-size: 1.125rem
  }
  .item-podcast__description {
    font-size: 1.125rem
  }
  .item-podcast__arrow svg {
    width: 2rem
  }
  .item-podcast__arrow svg {
    height: 2rem
  }
  .item-podcast__title {
    font-size: 1.25rem
  }
  .item-podcast__title:not(:last-child) {
    margin-bottom: .875rem
  }
  .item-podcast__meta {
    gap: .625rem
  }
  .authors__header {
    padding-top: 1.25rem
  }
  .authors__header:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .authors__item {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .authors__item {
    padding: .75rem
  }
  .item-authors__title {
    font-size: 1.125rem
  }
  .item-authors__title:not(:last-child) {
    margin-bottom: .5rem
  }
  .item-authors__meta {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .meta-authors__info {
    font-size: .75rem
  }
}
@media (max-width:61.99875em) {
  .footer__title {
    font-size: 3.4375rem
  }
  .lead__items {
    grid-template-columns: auto
  }
  .lead__title {
    font-size: 4.375rem;
    text-align: center
  }
  .magazine__container {
    text-align: center
  }
  .magazine__body {
    grid-template-columns: auto
  }
  .magazine__link-button.link-button {
    text-align: center
  }
  .item-magazine__body {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .item-magazine__title {
    font-size: 1.25rem
  }
  .item-magazine__text {
    font-size: .8125rem
  }
  .meta-magazine__items {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .print-magazine__title {
    font-size: 1.5rem
  }
  .print-magazine__post:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .print-magazine__popular:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .print-magazine__newsletter:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .post-magazine__body {
    padding: .8125rem
  }
  .post-magazine__body:not(:last-child) {
    margin-bottom: .5rem
  }
  .post-magazine__title {
    font-size: 1.875rem
  }
  .post-magazine__label {
    font-size: 1rem
  }
  .post-magazine__badge {
    width: 4.6875rem
  }
  .post-magazine__badge {
    height: 4.6875rem
  }
  .post-magazine__description {
    font-size: 1rem
  }
  .post-magazine__arrow svg {
    width: 1.625rem
  }
  .post-magazine__arrow svg {
    height: 1.625rem
  }
  .popular-magazine__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .popular-magazine__item:not(:last-child) {
    padding-bottom: .75rem
  }
  .popular-magazine__item:not(:first-child) {
    padding-top: .75rem
  }
  .popular-magazine__number {
    font-size: 1.125rem
  }
  .popular-magazine__body-title {
    font-size: 1.125rem
  }
  .popular-magazine__info {
    font-size: .75rem
  }
  .newsletter-magazine__title {
    font-size: 1.25rem
  }
  .newsletter-magazine__title:not(:last-child) {
    margin-bottom: .5rem
  }
  .podcast__title {
    font-size: 4.375rem
  }
  .authors__title {
    font-size: 4.375rem
  }
}
@media (max-width:61.99875em)and (max-width:20em) {
  .footer__title {
    font-size: 2.1875rem
  }
  .lead__title {
    font-size: 2.1875rem
  }
  .magazine__body {
    row-gap: 1.25rem
  }
  .podcast__title {
    font-size: 2.1875rem
  }
  .authors__title {
    font-size: 2.1875rem
  }
}
@media (max-width:53.125em) {
  .authors__items {
    grid-template-columns: auto
  }
}
@media (max-width:48.06125em) {
  .navigation-footer__title svg {
    width: 8.75rem
  }
}
@media (max-width:47.99875em) {
  .footer__header-block {
    row-gap: 1.25rem;
    grid-template-columns: auto
  }
  .lead__text {
    text-align: center
  }
  .lead__meta {
    flex-direction: column
  }
  .meta-lead__items {
    justify-content: space-between
  }
}
@media (max-width:43.75em) {
  .item-magazine__body {
    align-items: flex-start;
    flex-direction: column
  }
  .meta-magazine__items {
    align-items: flex-start;
    flex-direction: column
  }
}
@media (max-width:43.75em)and (max-width:20em) {
  .item-magazine__image {
    width: 11.25rem
  }
}
@media (max-width:29.99875em) {
  .footer__form {
    flex-direction: column
  }
  .footer__navigation {
    flex-direction: column
  }
  .footer__navigation .navigation-footer__list-body:nth-child(even) {
    align-self: flex-start;
    text-align: left
  }
  .footer__navigation .navigation-footer__list-body:nth-child(even) .navigation-footer__list {
    align-items: flex-start
  }
  .footer__navigation .navigation-footer__list-body:nth-child(odd) {
    text-align: right;
    align-self: flex-end
  }
  .footer__navigation .navigation-footer__list-body:nth-child(odd) .navigation-footer__list {
    align-items: flex-end
  }
  .footer__bottom {
    flex-direction: column
  }
  .navigation-footer__list-body {
    justify-content: flex-start;
    align-items: flex-start
  }
  .social-footer__item svg {
    flex: 0 0 1.75rem;
    width: 1.75rem;
    height: 1.75rem
  }
  .meta-lead__items {
    flex-direction: column
  }
}
@media (max-width:29.99875em)and (max-width:20em) {
  .page__magazine {
    padding-top: .625rem
  }
}
@media (max-width:23.75em) {
  .podcast__header {
    flex-direction: column
  }
  .authors__header {
    flex-direction: column
  }
}
@media (min-width:20em)and (max-width:95em) {
  .button {
    padding-top: clamp(.625rem ,.5416666667rem + .4166666667vw ,.9375rem)
  }
  .button {
    padding-bottom: clamp(.625rem ,.5416666667rem + .4166666667vw ,.9375rem)
  }
  .button {
    padding-left: clamp(1.125rem ,1.025rem + .5vw ,1.5rem)
  }
  .button {
    padding-right: clamp(1.125rem ,1.025rem + .5vw ,1.5rem)
  }
  .header__container {
    padding-top: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .header__container {
    padding-bottom: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .header__logo svg {
    width: clamp(9.375rem ,8.375rem + 5vw ,13.125rem)
  }
  .footer {
    padding-top: clamp(.75rem ,-.65rem + 7vw ,6rem)
  }
  .footer__body {
    padding: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .footer__body:not(:last-child) {
    margin-bottom: clamp(1.375rem ,-.3916666667rem + 8.8333333333vw ,8rem)
  }
  .footer__items {
    -webkit-column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem);
    -moz-column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem);
    column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem)
  }
  .footer__item {
    font-size: clamp(1rem ,.9rem + .5vw ,1.375rem)
  }
  .footer__header-block:not(:last-child) {
    margin-bottom: clamp(1.375rem ,-.3916666667rem + 8.8333333333vw ,8rem)
  }
  .footer__navigation:not(:last-child) {
    margin-bottom: clamp(1.375rem ,.1416666667rem + 6.1666666667vw ,6rem)
  }
  .page__main {
    padding-top: clamp(1.5rem ,1.1rem + 2vw ,3rem)
  }
  .page__main {
    padding-bottom: clamp(.75rem ,.3166666667rem + 2.1666666667vw ,2.375rem)
  }
  .page__lead {
    padding-top: clamp(.75rem ,.3166666667rem + 2.1666666667vw ,2.375rem)
  }
  .page__magazine {
    padding-bottom: clamp(.75rem ,-.65rem + 7vw ,6rem)
  }
  .page__podcast {
    padding-top: clamp(.75rem ,-.25rem + 5vw ,4.5rem)
  }
  .page__podcast {
    padding-bottom: clamp(.75rem ,-.65rem + 7vw ,6rem)
  }
  .page__authors {
    padding-top: clamp(.75rem ,-.65rem + 7vw ,6rem)
  }
  .page__authors {
    padding-bottom: clamp(.75rem ,-.65rem + 7vw ,6rem)
  }
  .main__title svg {
    width: clamp(20rem ,.0000000625rem + 100vw ,95rem)
  }
  .main__title svg {
    height: clamp(2.875rem ,.0416666667rem + 14.1666666667vw ,13.5rem)
  }
  .main__title:not(:last-child) {
    margin-bottom: clamp(.75rem ,.15rem + 3vw ,3rem)
  }
  .main__body {
    gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem)
  }
  .main__body {
    padding-left: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .main__body {
    padding-top: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .main__body {
    padding-bottom: clamp(.625rem ,.4583333333rem + .8333333333vw ,1.25rem)
  }
  .main__body-title {
    font-size: clamp(.75rem ,.5833333333rem + .8333333333vw ,1.375rem)
  }
  .main__items {
    gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem)
  }
  .main__item {
    font-size: clamp(.75rem ,.6166666667rem + .6666666667vw ,1.25rem)
  }
  .lead__items {
    row-gap: clamp(.625rem ,-.0083333333rem + 3.1666666667vw ,3rem)
  }
  .lead__text {
    font-size: clamp(.875rem ,.8083333333rem + .3333333333vw ,1.125rem)
  }
  .meta-lead__items {
    -webkit-column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem);
    -moz-column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem);
    column-gap: clamp(.625rem ,.3916666667rem + 1.1666666667vw ,1.5rem)
  }
  .magazine__body:not(:last-child) {
    margin-bottom: clamp(1.25rem ,-.0166666667rem + 6.3333333333vw ,6rem)
  }
  .magazine__item:not(:last-child) .item-magazine__body {
    padding-bottom: clamp(.75rem ,.15rem + 3vw ,3rem)
  }
  .magazine__item:not(:first-child) .item-magazine__body {
    padding-top: clamp(.75rem ,.15rem + 3vw ,3rem)
  }
  .print-magazine__header:not(:last-child) {
    margin-bottom: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,2rem)
  }
  .print-magazine__newsletter {
    padding: clamp(.9375rem ,.6875rem + 1.25vw ,1.875rem)
  }
  .podcast__header {
    padding-top: clamp(1.25rem ,.7833333333rem + 2.3333333333vw ,3rem)
  }
  .podcast__header:not(:last-child) {
    margin-bottom: clamp(1.5rem ,.3rem + 6vw ,6rem)
  }
  .podcast__item {
    padding: clamp(1.375rem ,.9416666667rem + 2.1666666667vw ,3rem)
  }
  .item-podcast__body {
    padding: clamp(.75rem ,.3833333333rem + 1.8333333333vw ,2.125rem)
  }
  .item-podcast__body:not(:last-child) {
    margin-bottom: clamp(1rem ,.7333333333rem + 1.3333333333vw ,2rem)
  }
  .item-podcast__body-title {
    font-size: clamp(2rem ,1.6833333333rem + 1.5833333333vw ,3.1875rem)
  }
  .item-podcast__label {
    font-size: clamp(1.125rem ,.9916666667rem + .6666666667vw ,1.625rem)
  }
  .item-podcast__description {
    font-size: clamp(1.125rem ,.9916666667rem + .6666666667vw ,1.625rem)
  }
  .item-podcast__arrow svg {
    width: clamp(2rem ,1.6666666667rem + 1.6666666667vw ,3.25rem)
  }
  .item-podcast__arrow svg {
    height: clamp(2rem ,1.6666666667rem + 1.6666666667vw ,3.25rem)
  }
  .item-podcast__title {
    font-size: clamp(1.25rem ,1.05rem + 1vw ,2rem)
  }
  .item-podcast__title:not(:last-child) {
    margin-bottom: clamp(.875rem ,.3083333333rem + 2.8333333333vw ,3rem)
  }
  .item-podcast__meta {
    gap: clamp(.625rem ,.525rem + .5vw ,1rem)
  }
  .authors__header {
    padding-top: clamp(1.25rem ,.7833333333rem + 2.3333333333vw ,3rem)
  }
  .authors__header:not(:last-child) {
    margin-bottom: clamp(1.5rem ,.3rem + 6vw ,6rem)
  }
  .authors__item {
    -webkit-column-gap: clamp(1.25rem ,.7833333333rem + 2.3333333333vw ,3rem);
    -moz-column-gap: clamp(1.25rem ,.7833333333rem + 2.3333333333vw ,3rem);
    column-gap: clamp(1.25rem ,.7833333333rem + 2.3333333333vw ,3rem)
  }
  .authors__item {
    padding: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,2rem)
  }
  .item-authors__title {
    font-size: clamp(1.125rem ,.8916666667rem + 1.1666666667vw ,2rem)
  }
  .item-authors__title:not(:last-child) {
    margin-bottom: clamp(.5rem ,.3666666667rem + .6666666667vw ,1rem)
  }
  .item-authors__meta {
    -webkit-column-gap: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,2rem);
    -moz-column-gap: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,2rem);
    column-gap: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,2rem)
  }
  .meta-authors__info {
    font-size: clamp(.75rem ,.7166666667rem + .1666666667vw ,.875rem)
  }
}
@media (min-width:61.99875em)and (max-width:95em) {
  .footer__title {
    font-size: clamp(3.4375rem ,.5020643157rem + 4.7346691413vw ,5rem)
  }
  .lead__title {
    font-size: clamp(4.375rem ,.3828074694rem + 6.4391500322vw ,6.5rem)
  }
  .magazine__items {
    padding-right: clamp(1.5rem ,-1.3180182569rem + 4.5452823757vw ,3rem)
  }
  .magazine__print {
    padding-left: clamp(1.5rem ,-1.3180182569rem + 4.5452823757vw ,3rem)
  }
  .item-magazine__body {
    -webkit-column-gap: clamp(.75rem ,-3.4770273853rem + 6.8179235635vw ,3rem);
    -moz-column-gap: clamp(.75rem ,-3.4770273853rem + 6.8179235635vw ,3rem);
    column-gap: clamp(.75rem ,-3.4770273853rem + 6.8179235635vw ,3rem)
  }
  .item-magazine__title {
    font-size: clamp(1.25rem ,-.1590091284rem + 2.2726411878vw ,2rem)
  }
  .item-magazine__text {
    font-size: clamp(.8125rem ,.4602477179rem + .568160297vw ,1rem)
  }
  .meta-magazine__items {
    -webkit-column-gap: clamp(.625rem ,-1.0188439832rem + 2.6514147191vw ,1.5rem);
    -moz-column-gap: clamp(.625rem ,-1.0188439832rem + 2.6514147191vw ,1.5rem);
    column-gap: clamp(.625rem ,-1.0188439832rem + 2.6514147191vw ,1.5rem)
  }
  .print-magazine__title {
    font-size: clamp(1.5rem ,-1.3180182569rem + 4.5452823757vw ,3rem)
  }
  .print-magazine__post:not(:last-child) {
    margin-bottom: clamp(1.5rem ,-3.1966970948rem + 7.5754706261vw ,4rem)
  }
  .print-magazine__popular:not(:last-child) {
    margin-bottom: clamp(1.5rem ,-3.1966970948rem + 7.5754706261vw ,4rem)
  }
  .print-magazine__newsletter:not(:last-child) {
    margin-bottom: clamp(1.5rem ,-3.1966970948rem + 7.5754706261vw ,4rem)
  }
  .post-magazine__body {
    padding: clamp(.8125rem ,-.7139265558rem + 2.4620279535vw ,1.625rem)
  }
  .post-magazine__body:not(:last-child) {
    margin-bottom: clamp(.5rem ,-.439339419rem + 1.5150941252vw ,1rem)
  }
  .post-magazine__title {
    font-size: clamp(1.875rem ,-5.9919676338rem + 12.6889132987vw ,6.0625rem)
  }
  .post-magazine__label {
    font-size: clamp(1rem ,.1780780084rem + 1.3257073596vw ,1.4375rem)
  }
  .post-magazine__badge {
    width: clamp(4.6875rem ,-.0091970948rem + 7.5754706261vw ,7.1875rem)
  }
  .post-magazine__badge {
    height: clamp(4.6875rem ,-.0091970948rem + 7.5754706261vw ,7.1875rem)
  }
  .post-magazine__description {
    font-size: clamp(1rem ,.1780780084rem + 1.3257073596vw ,1.4375rem)
  }
  .post-magazine__arrow svg {
    width: clamp(1.625rem ,-.7233485474rem + 3.7877353131vw ,2.875rem)
  }
  .post-magazine__arrow svg {
    height: clamp(1.625rem ,-.7233485474rem + 3.7877353131vw ,2.875rem)
  }
  .popular-magazine__title:not(:last-child) {
    margin-bottom: clamp(1rem ,-.8786788379rem + 3.0301882504vw ,2rem)
  }
  .popular-magazine__item:not(:last-child) {
    padding-bottom: clamp(.75rem ,-.6590091284rem + 2.2726411878vw ,1.5rem)
  }
  .popular-magazine__item:not(:first-child) {
    padding-top: clamp(.75rem ,-.6590091284rem + 2.2726411878vw ,1.5rem)
  }
  .popular-magazine__number {
    font-size: clamp(1.125rem ,.4204954358rem + 1.1363205939vw ,1.5rem)
  }
  .popular-magazine__body-title {
    font-size: clamp(1.125rem ,.4204954358rem + 1.1363205939vw ,1.5rem)
  }
  .popular-magazine__info {
    font-size: clamp(.75rem ,.5151651453rem + .3787735313vw ,.875rem)
  }
  .newsletter-magazine__title {
    font-size: clamp(1.25rem ,-.1590091284rem + 2.2726411878vw ,2rem)
  }
  .newsletter-magazine__title:not(:last-child) {
    margin-bottom: clamp(.5rem ,-.439339419rem + 1.5150941252vw ,1rem)
  }
  .podcast__title {
    font-size: clamp(4.375rem ,.3828074694rem + 6.4391500322vw ,6.5rem)
  }
  .authors__title {
    font-size: clamp(4.375rem ,.3828074694rem + 6.4391500322vw ,6.5rem)
  }
}
@media (max-width:61.99875em)and (min-width:95em) {
  .footer__title {
    font-size: 4.375rem
  }
  .lead__title {
    font-size: 5.625rem
  }
  .magazine__body {
    row-gap: 2.5rem
  }
  .podcast__title {
    font-size: 5.625rem
  }
  .authors__title {
    font-size: 5.625rem
  }
}
@media (max-width:61.99875em)and (min-width:20em)and (max-width:95em) {
  .footer__title {
    font-size: clamp(2.1875rem ,1.6041666667rem + 2.9166666667vw ,4.375rem)
  }
  .lead__title {
    font-size: clamp(2.1875rem ,1.2708333333rem + 4.5833333333vw ,5.625rem)
  }
  .magazine__body {
    row-gap: clamp(1.25rem ,.9166666667rem + 1.6666666667vw ,2.5rem)
  }
  .podcast__title {
    font-size: clamp(2.1875rem ,1.2708333333rem + 4.5833333333vw ,5.625rem)
  }
  .authors__title {
    font-size: clamp(2.1875rem ,1.2708333333rem + 4.5833333333vw ,5.625rem)
  }
}
@media (min-width:48.06125em)and (max-width:95em) {
  .navigation-footer__title svg {
    width: clamp(8.75rem ,4.3343702565rem + 9.1875049932vw ,13.0625rem)
  }
}
@media (min-width:29.99875em)and (min-width:20em)and (max-width:95em) {
  .page__lead {
    padding-bottom: clamp(.625rem ,.375rem + 1.25vw ,1.5625rem)
  }
}
@media (min-width:29.99875em)and (max-width:20em) {
  .page__lead {
    padding-bottom: .625rem
  }
}
@media (max-width:29.99875em)and (min-width:95em) {
  .page__magazine {
    padding-top: 1.5625rem
  }
}
@media (max-width:29.99875em)and (min-width:20em)and (max-width:95em) {
  .page__magazine {
    padding-top: clamp(.625rem ,.375rem + 1.25vw ,1.5625rem)
  }
}
@media (min-width:61.999375em)and (max-width:95em) {
  .lead__items {
    -webkit-column-gap: clamp(.625rem ,-3.2498875495rem + 6.249881631vw ,2.6875rem);
    -moz-column-gap: clamp(.625rem ,-3.2498875495rem + 6.249881631vw ,2.6875rem);
    column-gap: clamp(.625rem ,-3.2498875495rem + 6.249881631vw ,2.6875rem)
  }
}
@media ((max-width:61.99875em) and (min-width:29.99875em)) {
  .magazine__print {
    justify-self: end
  }
}
@media (max-width:43.75em)and (min-width:95em) {
  .item-magazine__image {
    width: 17.5rem
  }
}
@media (max-width:43.75em)and (min-width:20em)and (max-width:95em) {
  .item-magazine__image {
    width: clamp(11.25rem ,9.5833333333rem + 8.3333333333vw ,17.5rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    -webkit-filter: drop-shadow(0 1mm .25rem #000);
    filter: drop-shadow(0 1mm .25rem #000)
  }
  .button--footer:hover {
    -webkit-filter: drop-shadow(0 1mm .25rem #fff);
    filter: drop-shadow(0 1mm .25rem #fff)
  }
  .link-label:hover {
    -webkit-transform: scale(.92);
    transform: scale(.92)
  }
  .link-button:hover .link-button__link-text {
    text-decoration: underline
  }
  .link-button:hover .link-button__button-icon {
    -webkit-transform: translate(10%,0);
    transform: translate(10%,0)
  }
  .navigation-footer__list-item:hover .navigation-footer__item-link {
    text-decoration: underline
  }
  .social-footer__item:hover svg path {
    fill: #ff4500
  }
  .item-magazine__image:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .post-magazine__body:hover .post-magazine__arrow {
    -webkit-transform: translate(10%,10%);
    transform: translate(10%,10%)
  }
  .post-magazine__body:hover .post-magazine__image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-podcast__body:hover .item-podcast__arrow {
    -webkit-transform: translate(10%,10%);
    transform: translate(10%,10%)
  }
  .item-podcast__body:hover .item-podcast__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-authors__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}